<h3>
  <%= profile_id ? "Edit" : "New" %> Profile
</h3>

<form action="/profiles/edit<%= profile_id ? "/"+profile_id : "" %>" method="POST" enctype="multipart/form-data">
  <% if (reqInfo.roles.includes("Admin") || (reqInfo.roles.includes("User") && reqInfo.username == profile.username) || (reqInfo.roles.includes("Manager") && reqInfo.username == profile.username)) { %>   
    <input type="hidden" id="profile_id" name="profile_id" value="<%= profile_id %>">
    <label for="name">Username:</label>
    <input id="name" name="name" type="text" value="<%= profile.username ? profile.username : '' %>" readonly><br>
    <label for="firstname">First Name:</label>
    <input id="firstname" name="firstname" type="text" value="<%= profile.firstName ? profile.firstName : '' %>" ><br>
    <label for="lastname">Last Name:</label>
    <input id="lastname" name="lastname" type="text" value="<%= profile.lastName ? profile.lastName : '' %>" ><br>
    <label for="email">Email:</label>
    <input id="email" name="email" type="text" value="<%= profile.email ? profile.email : '' %>" ><br>
    <label for="interests">Interests:</label>
    <input id="interests" name="interests" type="text" value="<%= profile.interests.join(', ') %>">
    <br>
    <input id="profilePic" name="profilePic" type="hidden" value="<%= profile.imagePath %>">
    <% if (profile.imagePath) { %>
        <img src="<%= profile.imagePath %>" width="500px" height="500px">
    <% } %>
    <label for="picture">Profile Picture:</label>
    <input type="file" name="picture">
  <% } %>
  <% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) { %> 
    <br>
    <label for="roles">Roles:</label>
    
    <input type="checkbox" name="roles" value="Admin" <%= profile.roles.includes("Admin") && "checked"%>>Admin
    <input type="checkbox" name="roles" value="Manager" <%= profile.roles.includes("Manager") && "checked"%>>Manager
    <input type="checkbox" name="roles" value="User" <%= profile.roles.includes("User") && "checked"%>>User
  <% } %>
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>
<%= errorMessage %>